<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Accidento</title>
    <meta name="description" content="Accident Detector using NLP">
    <link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/Techipeeyon/Images/main/icons/CD-removebg-preview.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:800">
</head>

<body style="height: 100%;min-height: 100%;max-height: 100%;">
    <nav class="navbar navbar-light navbar-expand-md" style="background: #26262b;opacity: 1;color: rgb(119, 50, 56);height: 110px;filter: brightness(138%);border-style: none;border-bottom-style: solid;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-weight: bold;color: rgb(255,255,255);filter: brightness(68%);">Accidento</a><img src="https://github.com/Techipeeyon/Images/raw/main/icons/CD-removebg-preview.png"></div>
    </nav>
    <section style="height: 100%;min-height: 100%;max-height: 100%;margin-top: 0px;width: 100%;background: url(https://img.freepik.com/free-photo/3d-render-crime-scene-with-silhouette_92686-448.jpg?size=626&ext=jpg) center / cover;">
        <div class="col" style="text-align: center;height: 100%;">
            <h2 style="color: rgb(3, 3, 3);font-family: 'Montserrat Alternates', sans-serif;font-weight: normal;width: 100%;font-size: 60px;margin-left: 0px;margin-bottom: 0px;padding: 320px;padding-top: 110px;padding-bottom: 50px;">Spot where Accidents are spotted</h2>
            <p style="text-align: center;color: rgb(38, 74, 117);width: auto;font-weight: bold;opacity: 0.75;font-size: 25px;"><mark>The word focus might be only small, but the meaning is HUGE when it comes to safety</mark></p><button class="btn btn-primary" type="button" style="margin-left: 0px;background: rgb(239,241,244);color: rgb(16,13,13);border-radius: 35px;padding: 15px;padding-top: 12px;padding-bottom: 12px;padding-right: 40px;padding-left: 40px;font-weight: bold;margin-top: 80px;border-style: solid;border-color: rgb(251,244,244);border-bottom-style: solid;border-bottom-color: rgb(239,241,244);"><a href="{% url 'accident' %}" style="text-decoration:none;" >GET STARTED</a></button>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
</body>

</html
